.bash_history
.ssh
projects
.bash_logout
.bashrc
.cache/
.config/
.face
.face.icon
.gtkrc-2.0
.icons/
.lesshst
.local/
.mozilla/
.profile
.sudo_as_admin_successful
Bilder/
Downloads/
Schreibtisch/
.emacs.d/auto-save-List
.emacs.d/auto-save-List
.emacs.d/eln-cache
.emacs.d/%backup%~
.emacs.d/elpa
.emacs.d/games
.emacs.d/tutorial
.emacs.d/transient
*~